
@font-face {
    font-family:"Gill Sans Bold Italic";
    src:url("GillSans-BoldItalic.woff2") format("woff2"),url("GillSans-BoldItalic.woff") format("woff"),url("GillSans-BoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        