
@font-face {
    font-family:"Gill Sans Italic";
    src:url("GillSans-Italic.woff2") format("woff2"),url("GillSans-Italic.woff") format("woff"),url("GillSans-Italic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        