#footerMain{
	background: #000;
	color: #fff;
	padding: 40px 0;


	.brand{
		background: url('../img/brand-alt.svg') no-repeat center / cover;
		width: 110px;
		height: 42px;
		margin: 0 auto 20px;
		display: block;
	}//brand



	ul{
		padding: 0;
		margin: 0;
		text-align: center;

		li{
			list-style: none;
			padding: 5px 0;
			display: block;

			a{
				color: #fff;
				text-decoration: none;

				&:hover,
				&:active,
				&:focus,
				&:active:focus{
					text-decoration: underline;
				}
			}//a

		}//li
	}//ul



	.copy{
		text-align: center;
		margin: 0 0 20px;
	}//copy



	.social{
		font-weight: 600;
		line-height: 1;
		text-align: center;

		span{
			display: block;
		}//span

		.fb, .tt{
			color: transparent;
			font-size: 0;
			width: 40px;
			height: 40px;
			display: inline-block;
		}//fb, tt

		.fb{ background: url('../img/icon-fb.svg') no-repeat center / cover; }
		.tt{ background: url('../img/icon-tt.svg') no-repeat center / cover; }

	}//social




	@media (min-width: 768px){
		font-size: .9rem;


		.brand{
			//width: 142px;
			//height: 54px;
			margin: 0 0 20px;
		}//brand


		ul{
			text-align: left;

			li{
				padding: 3px 0;
			}//li
		}//ul


		.copy{
			text-align: right;
			margin: 63px 0 15px;
		}//copy


		.social{
			text-align: right;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			span{
				display: inline-block;
			}//span
		}//social

	}




	@media (min-width: 992px){

		.brand{
			margin: 0 0 31px;
		}//brand


		ul{
			li{
				padding: 0;
				display: inline-block;

				& + li{
					margin-left: 20px;
				}
			}//li
		}//ul


		.copy{
			margin-top: 32px;
			margin-bottom: 5px;
		}//copy

	}


}//footerMain