/**
Header
 */
#mainHeader{
	background: #fff;
	padding: 10px 0;
}//mainHeader

.brand{
	background: url('../img/brand.svg') no-repeat center / cover;
	width: 110px;
	height: 42px;
	margin: 0 auto;
	display: block;

	@media (min-width: 768px){
		width: 142px;
		height: 54px;
		margin: 0;
	}
}//brand


@media (min-width: 768px){
	#mainHeader{
		padding: 20px 0;
	}

	width: 160px;
	height: 60px;
}




/**
Language selector
 */
.lang-selector{
	font-family: $font-secondary;
	font-size: 1.2rem;
	line-height: 1;
	text-transform: uppercase;
	right: 0;
	top: -33px;
	position: absolute;

	a{
		color: #000;
		text-decoration: none;
		padding: 4px;
		display: inline-block;


		&:hover{
			text-decoration: underline;
		}//:hover
	}//a

	.active{
		color: $color-primary;
		text-decoration: underline;
	}//active


	span{
		display: inline-block;
	}


	@media (min-width: 768px){
		font-size: 1.3rem;
		top: auto;
		position: relative;
	}
}//lang-selector





/**
Main hero
 */
#mainHero{
	background: url('../img/header-bg-main.jpg'),
							url('../img/header-bg-secondary.jpg');
	background-color: #2a2b2a;
	background-repeat: no-repeat, repeat-x;
	background-position: center top, center top;
	background-size: 200% auto, auto;
	padding: 20px 0;
	box-shadow: 0 -230px 30px #2a2b2a inset;


	h1{
		color: #fff;
		font-family: $font-secondary;
		font-size: 13vw;
		line-height: .9;
		text-transform: uppercase;
		text-align: center;
		margin: 0 0 50vw;

		small{
			font-size: 7vw;
			display: block;
		}//small

		span{
			font-weight: 600;
			display: block;
		}//span
	}//h1



	h2{
		color: #fff;
		font-family: $font-secondary;
		font-size: 1.2rem;
		font-weight: 600;
		text-align: center;
		text-transform: uppercase;
		margin: 0 0 13px;

		span{
			display: block;
		}//span
	}//h2



	.border-right{
		border-bottom: solid 1px #fff;
		margin: 0 0 13px;
	}//border-right



	@media (min-width: 500px){
		background-size: 130vw auto, auto;

		h1{ margin: 0 0 35vw; }
		h1 small{ font-size: 6vw; }
		h1 span{ font-size: 8vw; }
	}


	@media (min-width: 576px){
		padding: 20px 0 40px;
		background-size: 130vw auto, auto;
		box-shadow: 0 -110px 30px #2a2b2a inset;

		h2{
			font-size: 1.3rem;
			margin: 0;
		}//h2


		.border-right{
			border-bottom: none;
			border-right: solid 1px #fff;
			margin: 0;
		}//border-right

	}


	@media (min-width: 640px){
		background-size: 110vw auto, auto;

		h1{
			font-size: 3rem;
			margin: 0 0 30vw;
		}
		h1 small{ font-size: 2rem; }
		h1 span{ font-size: 7vw; }
	}



	@media (min-width: 768px){
		background-size: 1000px auto, 128.1px auto;
		height: 65vh;
		min-height: 480px;
		padding: 40px 0;

		h1{
			font-size: 4.3rem;
			margin: 0 0 260px;
		}
		h1 small{ font-size: 2.6rem; }

		h2{ font-size: 1rem; }
	}



	@media (min-width: 992px){
		background-size: 1246px auto, 310px auto;
		height: 590px;
		box-shadow: none;

		h1{
			font-size: 5rem;
			margin: 0 0 330px;

			span{ font-size: 5.2rem; }
			small{ font-size: 3rem; }
		}//h1

		h2{ font-size: 1.3rem; }
	}

}//mainHero