@import 'fonts';



/**
Colors
 */
$color-primary: #b69d60;


html{
	font-size: 15px;

	@media (min-width: 768px){ font-size: 16px; }
	@media (min-width: 992px){ font-size: 17px; }
}

body{
	font-family: $font-primary;
	font-weight: 300;
	font-size: 1rem;
	letter-spacing: .8px;
}//body


*:focus{
	outline: 0 !important;
	box-shadow: none !important;
}// :focus


.font-gradient{
	background: -webkit-linear-gradient(right, #846942, #ece3a4);
	background: -o-linear-gradient(right, #846942, #ece3a4);
	background: -moz-linear-gradient(right, #846942, #ece3a4);
	background: linear-gradient(to right, #846942, #ece3a4);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}//font-gradient



.transition{
	transition: .3s ease-in-out;
}

.font-light{
	font-weight: 300;
}



.btn.btn-ghost{
	background: #fff;
	border: solid 2px #000;
	font-size: .8rem;
	font-weight: 600;
	padding: 9px 40px;
	text-transform: uppercase;
	transition: .3s ease-in-out;
	border-radius: 0;


	&:hover,
	&:active,
	&:focus,
	&:active:focus{
		background: $color-primary;
		border-color: $color-primary;
		color: #fff;
	}
}



@media (max-width: 768px){
	.container{
		padding-left: 30px;
		padding-right: 30px;
	}//container
}


@import 'header';
@import 'dropzone';
@import 'form';
@import 'form-response';
@import 'footer';


